<div class="window" >
<header class="toolbar toolbar-header">
    <h1 class="title">Welcome To My App</h1>
 <div class="toolbar-actions">
  <a href="#profile">
  <button class="btn  btn-large btn-primary" style="width: 10%;">
    <span class="icon icon-user"></span>
          Profile
 </button>
 </a>
  
  <button class="btn btn-default pull-right" ng-click="logout()">
  LOGOUT <span class="icon icon-logout"></span>
   </button>
  
    <button class="btn btn-default pull-right">
    <span class="icon icon-cog" ></span>
    SETTINGS
        </button>
         <button class="btn btn-default pull-right">
          <span class="icon icon-home"></span>
          DETAILS
        </button>
      </div>
     </header>

  <div class="window-content">
  <div class="pane-sm sidebar" style="background-color:#9ed3d2;">
            <div class= "nav-group">
               <a class="nav-group-item" href="#dashboard">
               <span class="icon icon-menu"></span>Dashboard
                </a>
                <a class="nav-group-item" href="#customers">  
                   <span class="icon icon-users"></span>Customers
                </a>
                <a class="nav-group-item" href="#todo">
                <span class="icon icon-publish"></span>todo
                </a>
            
                 <a class="nav-group-item" href="#items">
                       <span class="icon icon-bag"></span>items
                 </a>
                  <a class="nav-group-item" href="#item_kits">
                       <span class="icon icon-basket"></span> Item Kits
                 </a>
               
                   <a class="nav-group-item" href="#suppliers">
                            <span class="icon icon-gauge"></span>Suppliers
                   </a>  

                   <a class="nav-group-item" href="#reports">                    
                            <span class="icon icon-list-add"></span>Reports
                  </a>

                  <a class="nav-group-item" href="#receivings">          
                            <span class="icon icon-download"></span>Receivings
                  </a>
                   
                  <a class="nav-group-item" href="#sales">   
                       <span class="icon icon-suitcase"></span>Sales
                  </a>

                    <a class="nav-group-item"  href="#employees">
                            <span class="icon icon-user"></span>Employee
                    </a>
                
                   <a class="nav-group-item" href="#giftcards">
                            <span class="icon icon-cc-share"></span>Gift Cards
                   </a>

</div>
</div>
<div class="pane">
  
</div>

</div>
</div>



            